body{
    background-position: center;
    background-size: cover;
    font-family: 'Monoton', cursive;
}
.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
    border: 5px solid white ;
    box-shadow: 5px 5px 18px teal;
}
.note{
    font-size: 15px;
    color: black;
}

#header{
    font-size: 28px;
    color: crimson;
    border: 5px solid white ;
    box-shadow: 5px 5px 18px teal;
}
canvas{
    border: 5px dashed white;
    border-radius: 20px;
    box-shadow: 5px 5px 18px rgb(24, 94, 94);
}